<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<!-- begin containers for information and picture for profile -->
    <div class="row">
      <div class="col-8">
        <%- include('../partials/profile_d_t') %>
      </div>
      <div class="col-4">
        <%- include('../partials/profile_p_i') %>
      </div>
    </div>
    <!-- end profile -->
    <%- include('../partials/change_profile') %>

    <%- include('../partials/footer') %>